@using MangoRead.Domain.ViewModels.Home

@model List<IndexReviewViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 _home-index-welcome_tag">Welcome</h1>

    <section class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (var review in Model)
            {
                <div class="swiper-slide">
                    <div class="swiper-content">
                        <p class="swiper-title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">
                            @Html.DisplayFor(x => review.Title)
                        </p>
                    </div>                
                    <div class="swiper-slide-review-content">
                        @Html.DisplayFor(x => review.Content)
                    </div>
                </div>
            }            
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
    </section>

    <p class="_home-index-welcome_message">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>