@model MangoRead.Domain.ViewModels.Account.RegisterViewModel
@{
    ViewData["Title"] = "Registration";
}
<h2>User registration</h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form id="registerForm" method="post">
            <div class="row">
                <div class="col">
                      <div class="form-outline">
                            <label class="form-label" for="form3Example1" asp-for="FirstName"></label>
                            <input type="text" id="form3Example1" class="form-control" asp-for="FirstName"/>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                      </div>
                </div>
                <div class="col">
                      <div class="form-outline">
                            <label class="form-label" for="form3Example2" asp-for="LastName"></label>
                            <input type="text" id="form3Example2" class="form-control" asp-for="LastName"/>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                      </div>
                </div>
            </div>
            <div class="form-outline">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" aria-required="true" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-outline">
                <label asp-for="IsOverEighteen" class="form-label"></label>
                <input asp-for="IsOverEighteen" class="form-check-input" aria-required="true" />
            </div>
            <div class="form-outline">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-outline">
                <label asp-for="PasswordConfirm" class="form-label"></label>
                <input asp-for="PasswordConfirm" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <br/>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Sign Up</button>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}