@model MangoRead.Domain.ViewModels.Manuscript.ManuscriptContentViewModel

@{
    ViewData["Title"] = "AddContent";
}

<h1>AddContent</h1>

<h4>Please, add content to <i>@Model.Manuscript.Title</i></h4>
<p>
    You should upload <b>rar</b> or <b>zip</b> file named like title you choosed. Inner structure: <b>Volume N -> Chapter M -> #.(extension for pic)</b>.
</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddContent" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">                
                <span style="color: red">@ViewBag.Message</span>
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
