@using MangoRead.Domain.Enums;
@model MangoRead.Domain.ViewModels.Manuscript.ManuscriptCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h4 class="_create-manuscript-title">Manuscript creation form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Translator" class="control-label"></label>
                <input asp-for="Translator" class="form-control" />
                <span asp-validation-for="Translator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginCountry" class="control-label"></label>
                <input asp-for="OriginCountry" class="form-control" />
                <span asp-validation-for="OriginCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<ManuscriptType>()" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"></input>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genres" class ="control-label"></label>
                <select asp-for="Genres" asp-items="Html.GetEnumSelectList<Genre>()" class="form-control genres-list" size="7" multiple required></select>
                <span asp-validation-for="Genres" class="text-danger"></span>
            </div>@*
            <div class="form-group">
                <span>Select File:</span>
                <input type="file" name="Files" asp-for="Files" multiple class="form-control" />
                <br/>
                <span asp-validation-for="Files" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="IsRequireLegalAge" class="control-label"></label>
                <input type="checkbox" asp-for="IsRequireLegalAge" class="form-check-input"/>
                <span asp-validation-for="IsRequireLegalAge" class="text-danger"></span>
            </div>  
            <br/>
        
            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>  
            
        @*<form method="post" enctype="multipart/form-data" asp-controller="Manuscript" asp-action="Upload">
            <div class="form-group">
                <span>Select File:</span>
                <input type="file" name="postedFiles" multiple class="form-control" />
                <input type="submit" value="Upload" class="form-control"/>
                <br/>
                <span style="color:green">@Html.Raw(ViewBag.Message)</span>
            </div>
        </form>*@
    </div>
</div>

<div>
    <a asp-action="Index" class="_edit-manuscript-back">Back to List</a>
</div>