<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MangoRead</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul id="nav-ul-menu" class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark _home" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark _privacy" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark _archive" asp-area="" asp-controller="Manuscript" asp-action="Index">Manuscripts</a>
                        </li>
                        <li class="nav-item">
                            <select id="lang-select" class="form-select">
                                <option value="en">English</option>
                                <option value="ru">Русский</option>
                            </select>
                        </li>
                    </ul>
                    @*<ul id="auth-ul-menu" class="navbar-nav">
                        @if(User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item" style="align-self: center;">
                                @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
                                {
                                    <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))">
                                }
                            </li>   
                            <li class="nav-item">                            
                                <a class="nav-link text-dark">Hello, <b>@User.Identity?.Name</b>!</a> 
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                        }
                    </ul>*@
                    
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <script>
    </script>